/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url('img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #1f291f;
    color: #f4f4f9;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 15px;
    border-radius: 8px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f4f4f9;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #4CAF50;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    color: #4CAF50;
    font-size: 2rem;
}

.section {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

.game-list {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.game-list li {
    background-color: #1f1F1f;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.game-list img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 20px;
    display: inline-block;
}

.button:hover {
    background-color: #45a049;
}

footer {
    background-color: #1f1f1f;
    color: #f4f4f9;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        margin: 20px;
    }

    .section {
        margin: 10px;
        padding: 15px;
    }

    .game-list li {
        flex-direction: column;
        text-align: center;
    }

    .game-list img {
        max-width: 80px;
        margin: 0 auto 10px;
    }

    .button {
        width: calc(100% - 30px); /* Кнопка займёт всю ширину, учитывая отступы */
        padding: 15px;
        font-size: 1rem;
        box-sizing: border-box; /* Гарантирует, что padding будет учитываться в ширине */
        max-width: 400px; /* Ограничиваем максимальную ширину для кнопки */
        margin: 0 auto; /* Центрируем кнопку внутри секции */
        display: block;
    }
}
